# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.idea/
*fortMPP.sh
/rectangle/Debug/
Würde CMakeLists.txt löschen
Würde cmake-build-debug/ löschen
Würde integration/A2star.f löschen
Würde rectangle/CMakeLists.txt löschen
Würde rectangle/Debug/ löschen
Würde rectangle/main.cpp löschen
/cmake-build-debug/
/copyFiles.sh
